:root {
    display: flex;
    min-height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #29394b;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 550px;
    height:500px;
    border: black solid 8px;
}

.button{
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid black;
    padding: 4px;
}

.operand{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 4px;
}

.display1 {
    margin-top: auto;
}